/* Write your CSS here */
.sug-card {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  align-items: center;
  margin: 0px;
  list-style-type: none;
  font-family: roboto;
}
.para {
  color: #64748b;
  margin: 7px;
  margin-left: 0px;
}
.imgar {
  height: 20px;
  color: black;
}
